		h1
		{
			color: #FFF;
			font-family: math;
		}

		h3
		{
			color: #9E7742;
			font-family: Century Gothic, fantasy;
		}

		/*////CENTER-BOX////*/
		div#title-box
		{
  			margin-left: 33%;
 			margin-right: 33%;
  			padding: 20px;

  			border-color: #FFF;
  			border-width: 4px;
  			border-style: double;

    		background-image: url(images/title_bg.png);
    		background-size: cover;
    		background-repeat: no-repeat;		
		}

		h1#title
		{
			color: #000;
  			text-align: center;

  			position: relative;
  			width: 100%;
  			padding: 5px;
		}
		/*////////*/

		body
		{
			background-image: url(https://media.moddb.com/images/mods/1/55/54944/profile/background_map.1.jpg);
			background-size: 100%;
		}