		h1
		{
			color: #FFF;
			font-family: math;
		}

		h3
		{
			color: #FFF;
			font-family: Century Gothic, fantasy;
			text-align: center;
		}

		p
		{
			font-family: math;
			text-align: center;
		}

		a
		{
			font-family: math;
			text-align: center;
		}

		.row
		{
			margin-top: 30px;
		}

		/*////DEFAULT-TEXTS////*/
		.white-text
		{
			color: #FFF;
		}
		/*////////*/
		
		/*////DEFAULT-IMAGE////*/
		.image
		{
			margin-top: 10px;

			border-color: #FFF;
  			border-width: 4px;
  			border-style: double;
  			box-shadow: 2px 2px 10px 3px #000, 2px 2px 0px #000;
		}
		/*////////*/

		/*////DEFAULT-BOX////*/
		.box
		{
			padding: 20px;
			margin-left: 40px;
			width: 300px;

			border-color: #FFF;
  			border-width: 4px;
  			border-style: double;
  			box-shadow: 2px 2px 10px 3px #000, 2px 2px 0px #000;

  			display: inline-grid;
    		background-color: #000;
		}
		/*////////*/

		/*////TITLE-BOX////*/
		div#title-box
		{
			display: block;

  			margin-left: 33%;
 			margin-right: 33%;

    		background-image: url(images/title_bg.png);
    		background-size: cover;
    		background-repeat: no-repeat;		
		}

		h1#title
		{
			color: #000;
  			text-align: center;
  			text-shadow: 1px 1px 4px #FFF;

  			position: relative;
  			width: 100%;
  			padding: 5px;
		}
		/*////////*/

		/*////CENTER-BOX////*/
		div#center-box
		{
			margin-top: 30px;
			margin-left: 33%;
 			margin-right: 33%;
		}

		/*////////*/
		
		body
		{
			background-image: url(https://media.moddb.com/images/mods/1/55/54944/profile/background_map.1.jpg);
			background-size: 100%;
		}

		div#vic2-separator
		{
			margin-top: 50px;
			margin-left: 33%;
			margin-right: 33%;
			position: center;
		}

		img#fgw-image
		{
			width: 100%;
			box-shadow: 2px 2px 6px -2px #FFF;
		}